<template class="eintrag_single">
    <div class="row">
        <div class="text extra">   
            
        </div>
        <div class="divide"></div>
        <div class="text date">
            
        </div>
        <div class="divide"></div>
        <div class="text menge">
            
        </div>
    </div>
    <div class="row">
        <div class="text name">
            
        </div>
    <button type="button" class="input_button edit" onclick="disEintragChange()">&#x270E</button>
    </div>
</template>