:root{
    --main-color: #0066cc;
    --background: #f9f9f9;
    --text-color: #333;
    --font-base: 'Segoe UI', sans-serif;
}

@font-face {
    font-family: Shango-Medium;
    src: url(Shango-Medium.woff2);
}
html{
    font-size: 20px;
    background-color: aquamarine;
}

.main{

}



.banner{
    display: flex;
    justify-content: center;
    text-align: center;
    font-family: Shango-Medium;
    font-size: 2.25rem;
}

.login{
    font-size: 1rem;
}

.login_form{
    font-size: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-self: center;
    width: 65%;
}

.footer{
    font-size: 1rem;
    display: flex;
    justify-content: center;
    align-content: center;
    bottom: 0%;
    left: 0%;
    position: absolute;
    background-color: #0066cc;
    width: 100%;
    height: 2rem;
    
}

input[type=text]{

    width: 100%;
    padding: 12px 12px;
    margin-top: 8px;
    margin-bottom: 8px;
    max-width: 90%;
}
input[type=checkbox]{
    transform: scale(2);
}

input[type=button]{
    font-size: 1rem;
    display: flex;
    justify-content: center;
    vertical-align: middle;
    width: 65%;
    margin: 0 auto;
}