:root{
    --main-color: #0066cc;
    --background: #f9f9f9;
    --text-color: #333;
    --font-base: 'Segoe UI', sans-serif;
}

@font-face {
    font-family: Shango-Medium;
    src: url(Shango-Medium.woff2);
}
html{
    font-size: 20px;
    background-color:#f9f9f9;
}

body{
    margin: 0;
}

.main{

}

.banner{
    display: flex;
    justify-content: center;
    text-align: center;
    font-family: Shango-Medium;
    font-size: 2.25rem;

}
.banner_text{
    margin: 1rem;
}

footer{
    position:fixed;
    width: 100%;
    bottom: 0;
    background: #d4d4d4;
    display: flex;
    justify-content: center;
}

.login{
    display: none;
    padding: 1rem;
}

.login_form{
    font-size: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-self: center;
    width: 100%;
    max-width: 600px;
    gap: 1rem;
}
.element_Input{
    display: flex;
    flex-direction: column;
    gap: .25rem;
}

.element_Input label{
    font-size: 1rem;
    font-weight: 400;
}

.element_Input.checkbox{
    margin-top: 1rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: .5rem;

}

.element_Input .input_field {
    border: 1px solid black;
    min-height: 1rem;
    padding: .5rem .75rem;
}

.element_Input .select_field{
    border: 1px solid black;
    min-height: 1rem;
    padding: .5rem .75rem;
}

.input_button{
    min-height: 1.5rem;
    font-size: .85rem;
    width: fit-content;
    border: 1px solid black;
}

.buttons{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    gap: .5rem;
}

button{
    margin-top: 1rem;
    background: #e4e4e4;
}

button:hover{
    transition: .2s ease;
    background: #d1d1d1;
}

.error_msg{
    display: none;
    justify-content: center;
    color: #d80000;
    margin-top: 1rem;
}

input[type=checkbox]{
    transform: scale(2);
}

.home{
    display: none;
    padding: 1rem;
}

.home_buttons{
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-self: center;
}

.home_buttons .buttons{
    flex-direction: column;
    align-items: center;
}

.home_buttons .buttons button{
    width: 100%;
}

.filter{
    display: block;
    padding: 1rem;
}

.filter_input{
    font-size: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-self: center;
    width: 100%;
    max-width: 600px;
    gap: 1rem;
}

.filter_row{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 0.5rem;
    width: 100%;
}
.filter_row .element_Input{
    width: 100%;
}